.project-page-whole-page {
    display: flex;
    overflow: hidden;
}

.main-project-page {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.project-top-left-top {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 40%;
    height: 72px;
}

.project-top-left-bottom {
    display: flex;
    gap: 15px;
}

.project-view-options {
    height: 26px;
    display: flex;
    justify-content: center;
    font-weight: 900;
    cursor: pointer;
}

.project-page-top-left {
    display: flex;
    flex-direction: column;
}

.project-page-name {
    font-size: 20px;
}

.down-project-option {
    position: relative;
}

.project-options-box {
    position: absolute;
    top: 60px;
    left: 100px;
    width: 190px;
    border: 1px solid #e6e3e3;
    border-radius: 8px;
    padding: 4px 0;
    background-color: white;
}

.edit-project {
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    gap: 5px;
    border-bottom: 1px solid #e6e3e3;
    cursor: pointer;
}

.delete-project {
    padding: 0 24px;
    color: red;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#blue-picker {
    background-color: aqua;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

#pink-picker {
    background-color: rgb(235, 107, 224);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

#green-picker {
    background-color: rgb(0, 255, 136);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

#orange-picker {
    background-color: rgb(255, 181, 44);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

#red-picker {
    background-color: rgb(255, 30, 0);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

#purple-picker {
    background-color: rgb(174, 0, 255);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

#cyan-picker {
    background-color: rgb(34, 74, 161);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

#black-picker {
    background-color: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

#magenta-picker {
    background-color: rgb(136, 61, 102);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

#yellow-picker {
    background-color: rgb(243, 255, 73);
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.color-selection {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 5px;
    border: 1px solid #e6e3e3;
    padding: 24px 24px;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    cursor: pointer;
}

.color-picker-list {
    display: flex;
    gap: 2px;
    cursor: pointer;
}

.down-project-option {
    cursor: pointer;
}

.set-status-div {
    height: 28px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    gap: 5px;
}

.status-text {
    font-size: 14px;
    width: 100px;
}

.status-text-complete {
    color:rgb(14, 177, 101)
}

.set-status-box {
    position: absolute;
    top: 30px;
    border: 1px solid #e6e3e3;
    border-radius: 8px;
    width: 185px;
    height: 227px;
    padding: 4px 0;
}

.top-of-status-box {
    font-size: 12px;
    margin: 0 0 4px;
    padding: 8px 12px 0;
}

.status-option {
    display: flex;
    padding: 0 12px;
    align-items: center;
    gap: 5px;
    background-color: white;
    height: 36px;
}

.status-option:hover {
    background-color: #f5f4f3;;
}

.set-status-circle-green {
    color: rgb(0, 255, 136);
}

.set-status-circle-yellow {
    color: rgb(229, 245, 11);
}

.set-status-circle-red {
    color: rgb(255, 30, 0);
}

.set-status-circle-blue {
    color: rgb(0, 132, 255);
}

.all-status-options {
    border-bottom: 1px solid #e6e3e3;
    padding-bottom: 5px;
}

.set-status-check {
    color:rgb(0, 255, 136)
}

.profile-options-project-page {
    width: 240px;
    position: absolute;
    top: 50px;
    right: 10px;
    border: 1px solid #cfcbcb
}

.project-top-of-home {
    height: 100px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    font-weight: 900;
    justify-content: space-between;
    border-bottom: 1px solid #cfcbcb;
}

.add-task-button-div-projects {
    padding: 0 24px;
    height: 57px;
    display: flex;
    align-items: center;
}

.add-task-button {
    border: 1px solid #cfcbcb;
    padding: 0 8px;
    height: 28px;
    display: flex;
    font-size: 12px;
    align-items: center;
    width: 84px;
    border-radius: 8px 0 0 8px;
    gap: 5px;
}

.add-section-button {
    height: 28px;
    border-top: 1px solid #cfcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #cfcbcb;
    border-bottom: 1px solid #cfcbcb;
    border-radius: 0 8px 8px 0;
    width: 22px;
}

.project-task-table-heads {
    width: 100%;
    padding: 0 0 0 24px;
    display: flex;
    height: 37px;
}

.task-header-text {
    font-size: 12px;
    color: #868585
}

.task-name-header {
    border-top: 1px solid #cfcbcb;
    border-bottom: 1px solid #cfcbcb;
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;
}

.task-due-date-header {
    border-top: 1px solid #cfcbcb;
    border-bottom: 1px solid #cfcbcb;
    padding: 0 8px;
    border-left: 1px solid #cfcbcb;
    display: flex;
    align-items: center;
    height: 100%;
    width: 18%;
}

.task-priority-header {
    border-top: 1px solid #cfcbcb;
    border-bottom: 1px solid #cfcbcb;
    padding: 0 8px;
    border-left: 1px solid #cfcbcb;
    display: flex;
    align-items: center;
    height: 100%;
    width: 18%;
}

.task-status-header {
    border-top: 1px solid #cfcbcb;
    border-bottom: 1px solid #cfcbcb;
    padding: 0 8px;
    border-left: 1px solid #cfcbcb;
    display: flex;
    align-items: center;
    height: 100%;
    width: 18%;
}

.write-a-task {
    width: 100%;
    margin: 0 24px;
    display: flex;
    height: 37px;
    border-bottom: 1px solid #cfcbcb;
}

.enter-task-name {
    border:none;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 40%;
    height: 100%;
    outline: none;
}

.enter-task-input {
    border:none;
    outline: none;
}

.enter-task-duedate {
    border: none;
    border-bottom: 1px solid #cfcbcb;
    padding: 0 8px;
    border-left: 1px solid #cfcbcb;
    display: flex;
    align-items: center;
    height: 100%;
    width: 18%;
    cursor: pointer;
}

.enter-task-priority {
    border: none;
    border-bottom: 1px solid #cfcbcb;
    padding: 0 8px;
    border-left: 1px solid #cfcbcb;
    display: flex;
    align-items: center;
    height: 100%;
    width: 18%;
    cursor: pointer;
    position: relative;
}

.priority-option-box {
    position: absolute;
    border: 1px solid #e6e3e3;
    background-color: white;
    width: 185px;
    height: 157px;
    border-radius: 8px;
    z-index: 30;
    top: 35px;
    padding: 4px 0;
}

.task-name {
    border:none;
    border-bottom: 1px solid #cfcbcb;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 40%;
    height: 100%;
    outline: none;
    transition-duration: .5s;
    cursor: pointer;
}

.task-name:hover {
    background-color: #e6e3e3;
}

.project-task-active {
    width: 100%;
    padding: 0 0 0 24px;
    display: flex;
    height: 37px;
}

.task-name-input {
    border: none;
    outline: none;
}

.task-duedate {
    border: none;
    border-bottom: 1px solid #cfcbcb;
    padding: 0 8px;
    border-left: 1px solid #cfcbcb;
    display: flex;
    align-items: center;
    height: 100%;
    width: 18%;
    cursor: pointer;
}

.task-duedate-input {
    border: none;
    width: 100%;
}

.enter-task-priority:hover {
    background-color: #cfcbcb;
}

.priority-option {
    padding: 0 12px 0 36px;
    background-color: white;
    height: 36px;
    display: flex;
    align-items: center;
}

.priority-option:hover {
    background-color: #cfcbcb;
}

.priority-option-none {
    font-size: 12px;
}

.priority-option-low {
    height: 20px;
    width: 38px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(104, 202, 248);
}

.priority-option-medium {
    height: 20px;
    width: 61px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(243, 193, 28);
}

.priority-option-high {
    height: 20px;
    width: 42px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(164, 28, 243);
    color: white;
}

.enter-task-status {
    border: none;
    border-bottom: 1px solid #cfcbcb;
    padding: 0 8px;
    border-left: 1px solid #cfcbcb;
    display: flex;
    align-items: center;
    height: 100%;
    width: 18%;
    cursor: pointer;
    position: relative;
}

.enter-task-status:hover {
    background-color: #cfcbcb;
}

.status-option-none {
    font-size: 12px;
}

.status-option-ontrack {
    height: 20px;
    width: 65px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(23, 180, 120);
}

.status-option-atrisk {
    height: 20px;
    width: 52px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(253, 236, 1);
}

.status-option-offtrack {
    height: 20px;
    width: 66px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(218, 53, 53);
}

.task-duedate-data {
    font-size: 12px;
}

.task-details-sidebar {
    position: absolute;
    right: 0;
    top: 100px;
    height: 167%;
    width: 50%;
    background-color: white;
    z-index: 31;
    border: 1px solid #cfcbcb
}

.task-top-header {
    height: 7%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cfcbcb;
}

.mark-task-complete-button {
    display: flex;
    align-items: center;
    border: 1px solid #cfcbcb;
    height: 40%;
    font-size: 12px;
    width: 120px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
}

.task-details-main {
    padding: 0 24px;
    height: 80%;
}

.task-details-name {
    margin-top: 5px;
    border: none;
    outline: none;
    resize: none;
    padding: 6px 12px;
    font-size: 24px;
    font-weight: 800;
}

.duedate-data-in-details {
    border: 1px soldi red;
    height: 5%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.task-details-label {
    font-size: 14px;
    color: #7a7a7a
}

.duedate-data-compiled {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
