#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color:white;
  }

  #modal-content-one {
    position: absolute;
    background-color: white;
    height: 400px;
    width: 600px;
    border-radius: 8px;
    border-bottom: 1px solid #e6e3e3;
  }

  #modal-content-two {
    position: absolute;
    background-color: white;
    height: 400px;
    width: 600px;
    border-radius: 8px;
    border-bottom: 1px solid #e6e3e3;
  }
